@import './reset';
@import 'font-awesome';
@import 'config/colors';
@import 'moduls/user';
@import 'moduls/flash';
@import 'moduls/group';


* {
  box-sizing: border-box;
}

a {
  color: #FFFFFF;
  cursor: pointer;
}

//.flash-box {
//  width: 100vw;
//  height: 15px;
//  background-color: #38AEF0;
//}

.chat-side {
  width: 300px;
  float: left;
  .side-header {
    width: 100%;
    height: 100px;
    background-color: #253141;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    align-items: center;
    &__user-name {
      color: #FFFFFF;
      font-size: 16px;
      font-weight: bold;
    }
    .user-menu {
      display: flex;
      li {
        margin-left: 0.3rem;
      }
    }
  }
  .groups {
    width: 100%;
    height: calc(100vh - 100px);
    background-color: #2f3e51;
    padding: 0 20px;
    overflow: scroll;
    .group {
      padding-bottom: 40px;
      &__name {
        color: #FFFFFF;
        font-size: 15px;
        font-weight: bold;
        padding-top: 20px;
      }
      &__message {
        color: #FFFFFF;
        font-size: 11px;
        font-weight: bold;
        padding-top: 5px;
      }
    }
  }
}

.chat-main {
  width: calc(100vw - 300px);
  height: 100vh;
  float: left;
  .main-header {
    height: 100px;
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
    .current_group {
      margin-top: 35px;
      .current_group__name {
        font-size: 20px;
        color: #333333;
      }
      .member-list {
        display: flex;
        margin-top: 15px;
        font-size: 12px;
        color: #999999;
        .member-list__member {
          margin-left: 15px;
        }
      }
    }
    .main-header__edit-btn {
      color: #38AEF0;
      height: 40px;
      margin-top: 30px;
      padding: 0 20px;
      line-height: 40px;
      border: #38AEF0 solid 1px;

    }
  }
  .messages {
    height: calc(100vh - 190px);
    background-color: #eeeeee;
    border-top: 2px solid #eeeeee;
    overflow: scroll;
  }
  .form {
    height: 90px;
    background-color: #DADADA;
    .new-message {
      display: flex;
      justify-content: space-between;
      padding: 20px 40px;
      .input-box {
        width: calc(100% - 80px);
        position: relative;
        .input-box__text {
          height: 50px;
          width: 100%;
          padding: 0 40px 0 10px;
          color: #434a54;
        }
        .image-label {
          font-size: 1.3rem;
          position: absolute;
          top: 10px;
          right: 10px;
          cursor: pointer;
        }
      }
      .submit-btn {
        height: 50px;
        width: 100px;
        margin-left: 15px;
        background-color: #38AEF0;
        color: #FFFFFF;
      }
    }
  }
}